<footer class="osmtw-footer mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--left-section">
            <button class="mdl-mega-footer--social-btn" id="tt-f0"><a href="https://www.facebook.com/openstreetmaptaiwan/"><i class="fab fa-2x fa-facebook-square mdl-color-text--white"></i></a></button>&nbsp;
            <button class="mdl-mega-footer--social-btn" id="tt-f1"><a href="https://osmtw.hackpad.tw/"><i class="fas fa-2x fa-h-square mdl-color-text--white"></i></a></button>&nbsp;           
            <button class="mdl-mega-footer--social-btn" id="tt-f2"><a href="https://trello.com/osmtw/"><i class="fab fa-2x fa-trello mdl-color-text--white"></i></a></button>&nbsp;
            <button class="mdl-mega-footer--social-btn" id="tt-f3"><a href="https://github.com/OsmHackTW/"><i class="fab fa-2x fa-github mdl-color-text--white"></i></a></button>&nbsp;
            <!-- tt-caption -->
            <div class="mdl-tooltip" data-mdl-for="tt-f0">facebook Page</div>
            <div class="mdl-tooltip" data-mdl-for="tt-f1">Hackpad</div>
            <div class="mdl-tooltip" data-mdl-for="tt-f2">Trello</div>
            <div class="mdl-tooltip" data-mdl-for="tt-f3">Github</div>
        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-regular" href="#top">Back to Top <i class="material-icons">expand_less</i></a>
        </div>
    </div>
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">&copy; OpenStreetMap Taiwan 開放街圖台灣 2019</div>
        <ul class="mdl-mega-footer__link-list">
            <li class="mdl-typography--font-thin"><a href="/contact">Contact</a></li>
            <li class="mdl-typography--font-thin"><a href="/privacy">Privacy &amp; Terms</a></li>
            <li class="mdl-typography--font-thin"><a href="{{ site.repository }}">View on Github</a></li>
        </ul>
    </div>
</footer>