<footer class="osmtw-footer mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--left-section">
            <button class="mdl-mega-footer--social-btn"><a href="https://www.facebook.com/openstreetmaptaiwan/"><i class="fab fa-2x fa-facebook-square mdl-color-text--white"></i></a></button>&nbsp;
            <button class="mdl-mega-footer--social-btn"><a href="https://plus.google.com/+OpenstreetmapTw"><i class="fab fa-2x fa-google-plus mdl-color-text--white"></i></a></button>&nbsp;           
            <button class="mdl-mega-footer--social-btn"><a href="https://trello.com/osmtw/"><i class="fab fa-2x fa-trello mdl-color-text--white"></i></a></button>&nbsp;
            <button class="mdl-mega-footer--social-btn"><a href="https://github.com/OsmHackTW/"><i class="fab fa-2x fa-github mdl-color-text--white"></i></a></button>&nbsp;

        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-regular" href="#top">Back to Top <i class="material-icons">expand_less</i></a>
        </div>
    </div>
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">&copy; OpenStreetMap Taiwan 開放街圖 2019</div>
        <ul class="mdl-mega-footer__link-list">
            <li class="mdl-typography--font-thin"><a href="/contact">Contact</a></li>
            <li class="mdl-typography--font-thin"><a href="/privacy">Privacy &amp; Terms</a></li>
            <li class="mdl-typography--font-thin"><a href="{{ site.repository }}">View on Github</a></li>
        </ul>
    </div>
</footer>