<header class="mdl-layout__header mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a href="/" class="osmtw-title mdl-layout-title"><img class="osmtw-logo-image" src="{{site.logo}}"> OpenStreetMap
      台灣</a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- top nav begins -->
    <div class="osmtw-navigation-container">
      <nav class="mdl-navigation osmtw-navigation">
        <a class="mdl-navigation__link" href="/">首頁</a>
        <a class="mdl-navigation__link" href="/about">什麼是 OSM</a>
        <a class="mdl-navigation__link" href="/events">台灣社群活動</a>
        <a class="mdl-navigation__link" href="/news">新聞公告</a>
        <a class="mdl-navigation__link" href="/tutorial">教學文件</a>
        <a class="mdl-navigation__link" href="/contact">聯絡我們</a>
      </nav>
      <div class="mdl-tooltip" data-mdl-for="tt0">不日恢復　敬請期待</div>
    </div>
    <a href="/" class="osmtw-mobile-title mdl-layout-title"><img class="osmtw-logo-image" src="{{site.logo}}">OpenStreetMap
      台灣</a>
  </div>