<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OpenStreetMap Taiwan  開放街圖的台灣社群網站">
<meta property="og:title" content="OpenStreetMap Taiwan 開放街圖台灣">
<meta property="og:image" content="https://wiki.openstreetmap.org/w/images/f/fb/Sticker_of_openstreetmap_taiwan_logo.jpg">
<meta property="og:description" content="OpenStreetMap 開放街圖的台灣社群網站 Website of OpenStreetMap Taiwan">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>OpenStreetMap Taiwan 開放街圖台灣 | {{ page.title }}</title>
<link rel="shortcut icon" href="{{site.ico}}" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/assets/css/style.css">