<div class="mdl-layout__drawer mdl-js-layout">
  <span class="mdl-layout-title">OpenStreetMap 台灣</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">首頁</a>
    <a class="mdl-navigation__link" href="/about">什麼是 OSM</a>
    <a class="mdl-navigation__link" href="/events">台灣社群活動</a>
    <a class="mdl-navigation__link" href="/news">新聞公告</a>
    <a class="mdl-navigation__link" href="/tutorials">教學文件</a>
    <a class="mdl-navigation__link" href="/contact">聯絡我們</a>
    <div class="osmtw-drawer-separator"></div>
    <span class="mdl-navigation__link">台灣社群據點</span>
    <a class="mdl-navigation__link" href="https://fb.com/groups/OpenStreetMap.TW/">Facebook 社團</a>
    <a class="mdl-navigation__link" href="http://osmtw.hackpad.com/">Hackpad</a>
    <a class="mdl-navigation__link" href="https://lists.openstreetmap.org/listinfo/talk-tw">郵件論壇</a>
    <a class="mdl-navigation__link" href="https://osm-tw.signup.team/">Slack</a>
  </nav>
</div>